mods/
saves/
crash-reports/
voxelmap/
screenshots/
craftpresence/
ModTranslations/
patched_shaders/
shaderpacks/
XaeroWaypoints/
not-enough-crashes/
logs
.fabric
.curseclient
.mixin.out
options.txt
patchouli_data.json
*.png
slotlock.json
usercache.json
*.dat
servers.dat_old
realms_persistence.json
