# Do not use whitelist and blacklist together.
#biome-whitelist =
biome-blacklist = minecraft:desert minecraft:desert_lakes minecraft:desert_hills



wall = minecraft:stone_bricks minecraft:stone_bricks minecraft:stone_bricks minecraft:stone_bricks minecraft:mossy_stone_bricks minecraft:cracked_stone_bricks

wall-frame = minecraft:cobblestone minecraft:cobblestone minecraft:mossy_cobblestone

floor0 = minecraft:stone_bricks minecraft:stone_bricks minecraft:stone_bricks minecraft:stone_bricks minecraft:mossy_stone_bricks minecraft:cracked_stone_bricks

floor1 = minecraft:oak_planks

foundation = minecraft:cobblestone

ceil = minecraft:stone_bricks minecraft:stone_bricks minecraft:stone_bricks minecraft:stone_bricks minecraft:mossy_stone_bricks minecraft:cracked_stone_bricks

pillar0 = minecraft:cobblestone_wall minecraft:cobblestone_wall minecraft:mossy_cobblestone_wall

pillar1 = minecraft:oak_fence

fence0 = minecraft:cobblestone_wall minecraft:cobblestone_wall minecraft:mossy_cobblestone_wall

fence1 = minecraft:oak_fence

window = minecraft:iron_bars

spiral-stair-slab = minecraft:smooth_stone_slab

roof-stair = minecraft:brick_stairs

roof-slab = minecraft:brick_slab

door = minecraft:oak_door

storage-room-block = minecraft:coal_block minecraft:hay_block minecraft:tnt minecraft:melon minecraft:pumpkin



spawner-easy = minecraft:zombie minecraft:skeleton minecraft:spider

spawner-medium = minecraft:creeper minecraft:cave_spider

spawner-hard = minecraft:witch



# Number describes the floor at which a given loot table will be use.
# If the loot table is not set for a given floor, it uses loot table from floors below.
# The lowest floor is 0.
chest-junk-0 = castle_dungeons:chests/junk
chest-heal-0 = castle_dungeons:chests/heal
chest-loot-0 = castle_dungeons:chests/loot
